<html>
  <head>

  </head>
  <body>
    <h1>Catalogue de messier</h1>
    <p>Les objets de Messier sont un ensemble d'objets astronomiques catalogués par Charles Messier dans son catalogue des nébuleuses et des amas d'étoiles publié pour la première fois en 1774. La motivation initiale de ce catalogue était que Messier était un chasseur de comètes, et qu'il était frustré par des objets qui ressemblaient à des comètes mais n'en étaient pas. Il a donc dressé une liste de ces objets. La première édition couvrait 45 objets numérotés de M1 à M45. La liste totale se compose de 110 objets, allant de M1 à M110. Le catalogue final a été publié en 1781 et imprimé dans la Connaissance des Temps en 1784. Beaucoup de ces objets sont encore connus par leur numéro Messier.</p>

    <img src="/static/images/messier.png" width="90%" height="auto">
  <h2>Objets du livre par leur numéro</h2>
    <table class="wikitable" style="width:100%; text-align:center; font-weight: bold;">
    <tbody><tr>
    <td style="background-color: #DDA0DD"><a href="/api/v1/resources/messier?N_messier=M1" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M1</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M2" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M2</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M3" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M3</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M4" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M4</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M5" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M5</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M6" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M6</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M7" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M7</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #FB7060"><a href="/api/v1/resources/messier?N_messier=M8" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M8</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M9" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M9</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M10" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M10</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M11" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M11</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M12" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M12</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M13" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M13</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M14" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M14</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M15" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M15</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M16" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M16</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #FB7060"><a href="/api/v1/resources/messier?N_messier=M17" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M17</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M18" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M18</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M19" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M19</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #FB7060"><a href="/api/v1/resources/messier?N_messier=M20" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M20</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M21" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M21</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M22" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M22</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M23" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M23</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M24" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M24</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M25" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M25</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M26" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M26</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #4568A0"><a href="/api/v1/resources/messier?N_messier=M27" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M27</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M28" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M28</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M29" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M29</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M30" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M30</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M31" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M31</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M32" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M32</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M33" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M33</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M34" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M34</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M35" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M35</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M36" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M36</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M37" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M37</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M38" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M38</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M39" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M39</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #A3A7D9"><a href="/api/v1/resources/messier?N_messier=M40" title="Mini-guide du catalogue Messier/Autres"><font style="color:white;">M40</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M41" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M41</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #FB7060"><a href="/api/v1/resources/messier?N_messier=M42" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M42</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #FB7060"><a href="/api/v1/resources/messier?N_messier=M43" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M43</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M44" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M44</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M45" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M45</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M46" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M46</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M47" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M47</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M48" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M48</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M49" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M49</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M50" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M50</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M51" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M51</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M52" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M52</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M53" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M53</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M54" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M54</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M55" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M55</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M56" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M56</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #4568A0"><a href="/api/v1/resources/messier?N_messier=M57" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M57</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M58" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M58</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M59" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M59</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M60" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M60</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M61" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M61</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M62" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M62</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M63" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M63</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M64" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M64</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M65" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M65</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M66" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M66</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M67" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M67</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M68" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M68</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M69" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M69</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M70" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M70</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M71" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M71</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M72" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M72</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M73" title="Mini-guide du catalogue Messier/Autres"><font style="color:white;">M73</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M74" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M74</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M75" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M75</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #4568A0"><a href="/api/v1/resources/messier?N_messier=M76" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M76</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M77" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M77</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #4568A0"><a href="/api/v1/resources/messier?N_messier=M78" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M78</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M79" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M79</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M80" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M80</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M81" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M81</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M82" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M82</font></a><font style="color:white;">
    </font></td>
   <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M83" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M83</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M84" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M84</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M85" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M85</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M86" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M86</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M87" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M87</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M88" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M88</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M89" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M89</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M90" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M90</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M91" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M91</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M92" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M92</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M93" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M93</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M94" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M94</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M95" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M95</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M96" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M96</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #4568A0"><a href="/api/v1/resources/messier?N_messier=M97" title="Mini-guide du catalogue Messier/Nébuleuses"><font style="color:white;">M97</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M98" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M98</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M99" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M99</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M100" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M100</font></a><font style="color:white;">
    </font></td></tr>
    <tr>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M101" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M101</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M102" title="Mini-guide du catalogue Messier/Autres"><font style="color:white;">M102</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #58860B"><a href="/api/v1/resources/messier?N_messier=M103" title="Mini-guide du catalogue Messier/Amas ouverts"><font style="color:white;">M103</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M104" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M104</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M105" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M105</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M106" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M106</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #BED080"><a href="/api/v1/resources/messier?N_messier=M107" title="Mini-guide du catalogue Messier/Amas globulaires"><font style="color:white;">M107</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M108" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M108</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M109" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M109</font></a><font style="color:white;">
    </font></td>
    <td style="background-color: #99CCCC"><a href="/api/v1/resources/messier?N_messier=M110" title="Mini-guide du catalogue Messier/Galaxies"><font style="color:white;">M110</font></a><font style="color:white;">
    </font></td></tr></tbody>
    </table>
</body>

</html>